* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	font-family: 'Comfortaa';
	color: #686868;
	overflow-x: hidden;
	background-color: #f5f5f5;
}

input, button, textarea {
	font-family: 'Comfortaa';
}

h2 {
	display: block;
	font-weight: 400;
	font-size: 20px;
	margin: 20px 30px;
}

main > div {
	margin: 0 10px;
}

.fixed-container {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.left-container {
	width: 350px;
}

.right-container {
 	width: 350px;
 	padding: 15px 10px;
 	background-color: white;
}

.description, .emptylist, h4{
	font-size: 16px;
	color: #8993ae;
	margin: 0px 20px;
}

#addtitle, #addtext {
	width: 300px;
	margin: 10px 20px;
	border: 1px solid #8993ae;
	border-radius: 10px;
}

#addtitle {
	height: 20px;
}

#addtext {
	min-height: 200px;
	font-size: 13.3px;
}

#addtext:focus, #addtitle:focus {
	border: 1px solid #2174fe;
	border-radius: 10px;
	outline: none;
}

#addbutton {
	display: block;
	margin: 10px auto;
	padding: 10px 20px;
	background-color: #2174fe;
	font-size: 16px;
	color: white;
	border: 0;
	outline: none;
	border-radius: 10px;
}

.todo-container {
	margin-bottom: 10px;
 	width: 350px;
 	padding: 10px 5px;
 	background-color: white;
}

.todo-description {
	border-top: 1px solid #8993ae;
	margin: 0 20px;
    padding-top: 10px;
    font-size: 14px;
    overflow-wrap: break-word;
}

.todo-title {
	margin: 5px 20px;
	font-size: 16px;
	display: inline;
}

.todo-delete {
	border: none;
    background-color: white;
    color: red;
    font-weight: bold;
}

@media (max-width: 800px) and (min-width: 551px) {
	.left-container, .right-container, .todo-container, main > div {
		width: 250px;
	}
	#addtitle, #addtext, .description {
		width: 200px;
	}
	h2 {
		font-size: 15px;
	}
}

@media (max-width: 550px)  {
	.fixed-container {
		flex-wrap: wrap-reverse;
	}
	.left-container, .right-container, .todo-container {
		width: 350px;
	}
	#addtitle, #addtext, .description {
		width: 300px;
	}
	#addtext {
		min-height: 50px;
	}
	h2 {
		font-size: 20px;
	}
}